.whychoose-section {
  background:#f6f4f4;
  text-align: center;
  padding: 4rem 1rem;

}

.whychoose-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--secondary);
}

.whychoose-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
  font-weight: 100;
  font-size: 0.5rem;
}

.icon-item .icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: rgb(151, 105, 105);
}
